
.hero {
  background-color: #f3e888;
  padding: 50px 100px ;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 400;
  color: #111;
  margin-top: 15px;
  
}

.hero-title span {
  color: #324FA6;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 16px;
  color: #1E1E1E;
  max-width: 500px;
  margin-bottom: 25px;
  line-height: 1.5;
}


.hero-experts {
  display: flex;          
  gap: 150px;
  margin-top: -50px;
  justify-content: flex-start;
  align-items: center;
  
}

.expert-avatar {
  width: 120px; 
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.expert-avatar:hover {
  transform: scale(1.05);
}

/* Right Image */
.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 16px;
  display: block;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: left;
  }

  .hero-content {
    align-items: flex-start; 
  }

  .hero-image-container {
    order: 1; 
    margin-top: 30px;
  }

  .hero-experts {
    order: 2;
    flex-direction: column;
    gap: 30px;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .expert-avatar {
    width: 160px; /* smaller on mobile */
  }

  
}
